// Base colors
$color-btn: rgb(211,53,52);
$header-bg-color: #2d3136;
$color-white: #f6f6f7;
$footer-bg-color: #2a2d33;
$title-color: #37414e;
$text-color-light: #d7d7d7;
$text-color: #767582;
$green-block-color: rgb(14,175,69);
$grey-block-color: #4b596c;
$border-color: #4c4f53;
$border-color-accent: #663438;